body{
	background: #32BDBD;
	color: #fff;
}
/*
#F65A3E red
#32BDBD sky blue
#F9C54B yellow
#222E27 blue
*/
img {
	max-width: 100% !important;
	height: auto;
	display: block;
}
h1,h2,h3,p,div,pre{
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.content {
	font-family: 'Microsoft YaHei', 'Lato', SimSun,'STHeiti Light','Droid Sans', Arial, sans-serif;
	margin: 60 auto;
	padding: 1.5em 1.5em;
	max-width: 800px;
	margin-bottom: 1.5em;
	line-height: 1.8em;
	background: #222E27;
	padding-bottom: 2em;
}
.header {
	margin: auto;
	 text-align: center;
	 padding: 1.5em 1.5em 1.5em;

 }
 .time{
	text-align: center;
	padding: 1em 1em 1em;
	font-weight: 250;
	font-size: 1.2em;
	background: #F9C54B;
}
.content h1{
	font-weight: 300;
	background: #F65A3E;
}
.content h2{
	text-align: center;
	font-weight: 150;
}
.content h3{
	text-align: center;
	font-weight: 250;
	font-size: 1.3em;
}
.content p{
	font-weight: 150;
	font-size: 1.2em;
}

.footer {
	text-align: center;
}
.footer a{
	font-size: 1.5em;
	color:#5654a2;
  text-align:center;
}
@media screen and (max-width: 350px) {
	.content h1 h2 {
		font-size: 2.25em;
		font-size: 10vw;
	}
}

.pagination {
	color: #fff;
	text-align: center;
}

.pagination-item:first-child {
	float: left;
}

.pagination-item:last-child {
	float: right;
}
nav a {
	position: relative;
	display: inline-block;
	margin: 1px 20px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 200;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.0em;
}

nav a:hover,
nav a:focus {
	outline: none;
}
/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
