body{
  background: #ffd900;
	color: #fff;
}

.content {
	font-family: 'Microsoft YaHei', 'Lato', SimSun,'STHeiti Light','Droid Sans', Arial, sans-serif;
	margin: 60 auto;
	padding: 1.5em 1.5em;
	max-width: 800px;
	margin-bottom: 1.5em;
	line-height: 1.8em;
	background: #00a497;
	padding-bottom: 2em;
}
.header {
	margin: auto;
	 text-align: center;
	 padding: 1.5em 1.5em 1.5em;

 }
 .time{
	text-align: center;
	padding: 1em 1em 1em;
	font-weight: 250;
	font-size: 1.2em;
	background: #5654a2;
}
.content h1{
	font-weight: 300;
	/*font-size: 2.5em;*/
	background: #ea5506;
}
.content h2{
	text-align: center;
	font-weight: 150;
	/*font-size: 1.5em;*/
}
.content h3{
	text-align: center;
	font-weight: 250;
	font-size: 1.3em;
}
.content p{
	font-weight: 150;
	font-size: 1.2em;
}

.footer {
	text-align: center;
}
.footer a{
	font-size: 1.5em;
	color:#5654a2;
}
@media screen and (max-width: 350px) {
	.content h1 h2 {
		font-size: 2.25em;
		font-size: 10vw;
	}
}

.pagination {
	color: #fff;
	text-align: center;
}

.pagination-item:first-child {
	float: left;
}

.pagination-item:last-child {
	float: right;
}
