---
layout: default
title: Crazy Phage
---
<div id="bl-main" class="bl-main">

    <section>
        <div class="bl-box">
            <h2 class="bl-icon bl-icon-about">About Me</h2>
        </div>
        <div class="bl-content">
           <div class="container">
                <div id="slideshow" class="slideshow">
                <ul>
                    <li>
                        <div class="slide">
                            <img class="icon" src="images/icons/browser.svg" alt="Browser Icon"/>
                            <h1>关于我</h1>
                            <p>走路不寻常的代码手艺人，曾经试图定义自己，结果发现，除了帅居然没有别的形容词了，这是得有多自信。</p>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <img class="icon" src="images/icons/heart.svg" alt="Heart Icon"/>
                            <blockquote>
                                <p>励志成为一个挥舞着大宝剑的屠龙战士</p>
                            </blockquote>
                            <p>Pink Banana</p>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <img class="icon" src="images/icons/letter.svg" alt="Letter Icon"/>
                            <p>
                                <blockquote>
                                    Clojure | Rails | NodeJs | LeanCloud | BackboneJs | Swift | Gulp | etc.
                                </blockquote>
                            </p>
                            <p>以上</p>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <img class="icon" src="images/icons/match.svg" alt="Match Icon"/>
                            <blockquote>
                                <p>轮滑 音乐 电影 摄影</blockquote>
                            <p>爱好其实还是挺多的嘛</p>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <img class="icon" src="images/icons/watch.svg" alt="Watch Icon"/>
                            <blockquote>
                                <p>2010-2014 </p>
                                <p>
                                <i class="fa fa-university"></i> 厦门大学嘉庚学院
                                </p>
                                <p><i class="fa fa-graduation-cap"></i> 计算机科学与技术</p>
                            </blockquote>
                            <p>目前就职于<i class="fa fa-briefcase"></i> 风豪网络
<i class="fa fa-laptop"></i> Rails开发工程师</p>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                        <img class="icon" src="images/icons/watch.svg" alt="Watch Icon"/>
                            <blockquote>
                                {% include copy.html %}
                            </blockquote>
                        </div>
                    </li>
                </ul>
            </div>
           </div>
        </div>
        <span class="bl-icon bl-icon-close"></span>
    </section>

    <section id="bl-work-section">
        <div class="bl-box">
            <h2 class="bl-icon bl-icon-works">Works</h2>
        </div>
        <div class="bl-content">
            <h2>我的东西</h2>
            <h3>一些照片，一些图片,一些东西</h3>
            <ul id="bl-work-items">
                {% for work in site.categories.gallery %}
                <li data-panel="panel-{{ work.description}}"><a href="#"><img src="images/{{work.description}}.jpg" /></a></li>
                {% endfor %}
            </ul>
            <p>Cook by <a href="http://banana.eurus.cn">Pink Banana</a></p>
        </div>
        <span class="bl-icon bl-icon-close"></span>
    </section>

    <section>
        <div class="bl-box">
            <h2 class="bl-icon bl-icon-blog">Blog</h2>
        </div>
        <div class="bl-content">
            <h2>我的文章</h2>
            {% for post in site.categories.blog %}
            <articel>
                <h3>{{ post.title }} <span>{{ post.date | date_to_string }}</span></h3>
                <p>
                    <!-- {{ post.excerpt }} -->
                    {{ post.description }}
                    <a href="{{ post.url }}">Read more</a>
                </p>
                <p></p>
            </articel>
            {% endfor %}
        </div>
        <span class="bl-icon bl-icon-close"></span>
    </section>

    <section>
        <div class="bl-box">
            <h2 class="bl-icon bl-icon-contact">Contact</h2>
        </div>

        <div class="bl-content">
            <h2>与我联系</h2>
            <div class="links pure-g">
                <div class="pure-u-1-2"><p> <a target="_blank" href="http://lostpupil.github.io/feed.xml"><i class="fa fa-rss"></i></a></p></div>
                <div class="pure-u-1-2"> <p> <a target="_blank" href="mailto:ufozhengli@163.com"><i class="fa fa-envelope"></i></a></p></div>
                <div class="pure-u-1-2"> <p><a target="_blank" href="https://github.com/lostpupil"><i class="fa fa-github-alt"></i></a></p></div>
                <div class="pure-u-1-2"> <p><a target="_blank" href="https://www.facebook.com/crazyphage"><i class="fa fa-facebook-square"></i></a></p></div>
                <div class="pure-u-1-2"><p><a target="_blank" href="https://twitter.com/crazyphage"><i class="fa fa-twitter"></i></a></p></div>
                <div class="pure-u-1-2"> <p> <a target="_blank" href="http://www.renren.com/331738600/profile"><i class="fa fa-renren"></i></a></p></div>
                <div class="pure-u-1-2"><p><a target="_blank" href="http://weibo.com/attheworldend"><i class="fa fa-weibo"></i> </a></p></div>
                <div class="pure-u-1-2"><p><a target="_blank" href="http://www.zhihu.com/people/crazyphage">知乎</a></p>  </div>

                <!--            <p><i class="fa fa-weixin"></i> crazyphage</p>
<p><i class="fa fa-qq"></i> 427733928</p> -->
                <div class="pure-u-1">
                    <h6>苏ICP备15031331号-1</h6>
                </div>
            </div>
        </div>
        <span class="bl-icon bl-icon-close"></span>
    </section>

    <!-- Panel items for the works -->
    <div class="bl-panel-items" id="bl-panel-work-items">
        {% for work in site.categories.gallery %}
        <div data-panel="panel-{{ work.description}}">
            <div>
                <img src="images/{{ work.description}}.jpg" />
                <h3>{{work.title}}</h3>
                {{work.content}}
            </div>
        </div>
        {% endfor %}
        <nav>
            <span class="bl-next-work">&gt; Next Project</span>
            <span class="bl-icon bl-icon-close"></span>
        </nav>

    </div>
</div>
