<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>粉红的小布拿拿</title>
		<link rel="shortcut icon"  type="image/ico" href="images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/post.css" />
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/css/effect1.css" />
		<script src="/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div id="ip-container" class="ip-container">
			<!-- initial header -->
			<header class="ip-header">
				<h1 class="ip-logo">
					Pink Banana
				</h1>
				<div class="ip-loader">
					<svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
						<path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
						<path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
					</svg>
				</div>
			</header>

			<!-- main content -->
			<div class="ip-main">
				<div class="content">
					<div>
						<article>
						<h1 class="header">{{ page.title }}</h1>
						<div class="time">{{ page.date | date_to_string }}</div>
							{{ content }}
						</article>

					</div>
					<div class="footer">
						<a href="/index.html"><i class="fa fa-home"></i></a>
						<hr>
						<!-- JiaThis Button BEGIN -->
						<div class="jiathis_style">
								<a class="jiathis_button_qzone">QQ空间</a>
								<a class="jiathis_button_tsina">新浪微博</a>
								<a class="jiathis_button_tqq">腾讯微博</a>
								<a class="jiathis_button_weixin">微信</a>
								<a href="http://www.jiathis.com/share?uid=1967006" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
								<a class="jiathis_counter_style"></a>
							</div>
							<script type="text/javascript">
							var jiathis_config = {data_track_clickback:'true'};
							</script>
							<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1406989037756316" charset="utf-8"></script>
						</div>
						<!-- JiaThis Button END -->
						
						<!-- UY BEGIN -->
						<div id="uyan_frame"></div>
						<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1967006"></script>
						<!-- UY END -->
				</div>
			

			</div>

		</div><!-- /container -->
		
		<script src="/js/classie.js"></script>
		<script src="/js/pathLoader.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
