<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.title }} | {{ page.title }}</title>
        <link rel="shortcut icon"  type="image/ico" href="/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/css/post.css" />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/effect1.css" />
        <script src="/js/modernizr.custom.js"></script>
        <!-- code highlight -->
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <!-- code highlight -->
    </head>
    <body>
        <div id="ip-container" class="ip-container">
            <!-- initial header -->
            <header class="ip-header">
                <h1 class="ip-logo">
                    Pink Banana
                </h1>
                <div class="ip-loader">
                    <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
                        <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
                        <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
                    </svg>
                </div>
            </header>

            <!-- main content -->
            <div class="ip-main">
                <div class="content">
                    <div>
                        <article>
                            <h1 class="header">{{ page.title }}</h1>
                            <div class="time">{{ page.date | date_to_string }}</div>
                            {{ content }}
                        </article>

                        <div class="pagination">
                            <nav class="cl-effect-1">

                                {% if page.previous %}
                                <a class="pagination-item newer" href="{{ BASE_PATH }}{{ page.previous.url }}"><i class="fa fa-arrow-left"></i></a>

                                {% else %}
                                <span class="pagination-item newer">上一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
                                {% endif %}
                                {% if page.next %}
                                <a class="pagination-item older" href="{{ BASE_PATH }}{{ page.next.url }}"><i class="fa fa-arrow-right"></i></a>
                                {% else %}
                                <span class="pagination-item older">下一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
                                {% endif %}
                            </nav>

                        </div>
                    </div>
                    <div class="footer">
                        <a href="/index.html"><i class="fa fa-home"></i></a>
                        <hr>
                        {% include share.html %}
                        {% include comment.html %}

                    </div>


                </div>

            </div><!-- /container -->

            <script src="/js/classie.js"></script>
            <script src="/js/pathLoader.js"></script>
            <script src="/js/main.js"></script>
        </body>
    </html>
